body {
    background-color: gray;
}

.container {
    background: white;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: auto;
    display: grid;
    grid-template-rows: max-content;
}

.blog-title {
    color: darkgoldenrod;
    font-size: 24px;
    font-weight: bold;
    text-decoration: 2px;
}

.cotainer-fluid {
    margin-left: 20px;
}

.fluid {
    margin-left: 20px;
}

.fill {
    display: inline;
}


/* .content-section {
    display: flex;
    width: 10px;
    margin: 10px;
}
 */


/* .content {
    display: grid;
    grid-template-columns: 7fr 2fr;
} */

.main {
    font-size: small;
}


/* .blog-title:hover {
    color: #f44336;
    transform: scale(1.05);
} */


/* .container {
    background-color: skyblue;
    color: white;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}