/* body {
    background-color: white;
    color: white;
}

.content-section {
    display: flex;
    flex-wrap: unwrap;
   
    margin: 10px;
    padding: 10px;
}

.space {
    flex-basis: calc(33.33% - 40px);
   
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid skyblue;
    padding: 10px;
    border-radius: 2px;
}

.blog-title {
    color: darkgoldenrod;
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
}

.content {
    border: 5px solid gray;
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
}

.container-fluid {
    margin-left: 20px;
}

.fluid {
    margin-left: 20px;
}

.fill {
    display: inline;
}

.content {
    display: flex;
    flex-direction: row;
}

.main {
    font-size: small;
}

.blog-title:hover {
    color: #f44336;
    transform: scale(1.05);
} */

.content-section {
    display: flex;
    flex-wrap: unwrap;
    margin: 10px;
    padding: 10px;
}

.space {
    flex-basis: calc(33.33% - 40px);
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid skyblue;
    padding: 10px;
    border-radius: 2px;
}

.space .images {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 2px;
}

body {
    background-color: white;
    color: black;
}