{%extends 'user_blog/base.html'%}
{%block content%}

   {% comment %} <div class ='container-fluid'> {% endcomment %}
    <div class = 'box'>
<div class = 'wrapper'>Are you sure you want to delete| {{item}} ?</div>
   {% comment %} </div> {% endcomment %}
    {% comment %} <div class = 'container'> {% endcomment %}
        <form method = 'POST'>
            {% csrf_token %}
             <div class = 'fluid'> 
            <button class = 'btn btn-outline-danger' type = 'submit'>Delete</button>
             </div> 
        </form>
    </div>
    <div class = 'fluid'>
    <a href = "{%url 'home'%}">
   <button class= 'btn btn-primary'>Cancel</button>
    </a>
</div>
</div>
</div>
{%endblock content%}