{%extends 'user_blog/base.html'%}

{%block content%}
<div class = 'content-section'>
   
Search Result for: {{query}}
{%for blog in Posts%}

<div class = 'container'>
<div class = 'space'>
<h3><a class = 'blog-title' href = {%url 'blog-detail' blog.id%}>{{blog.title}}</h3></a>

<strong>{{blog.author}}  | {{blog.created_date|date:'F-d Y'}}</strong><br><hr>
<small>{{blog.content_blog}}</small><hr>
</div>
</div>

{%empty%}
<h2>result not found</h2>

{%endfor %}
</div>
{%endblock content%}



{% comment %} {%extends 'user_blog/base.html'%}

{%block content%}
<div class = 'container'>Search result for: {{query}}</div>
{%for blog in Posts%}
<div class = 'container'>
<div class = 'content-section'>
    <h3><a class = 'blog-title' href = {%url 'blog-detail' blog.id%}>{{blog.title}}</h3></a>

 <strong>{{blog.author}}  | {{blog.created_date|date:'F-d Y'}}</strong><br><hr>
<small>{{blog.content_blog}}</small><hr>
</div>
</div>
{%endfor %}

{%endblock content%} {% endcomment %}

